<ion-view>
    <ion-nav-title>
        <img style="height:100%;" src="img/logo_header.png">
    </ion-nav-title>
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="banner in banners">
                <div class="box blue"><img style="width:100%;" ng-src="{{banner.FOTO}}" /></div>
            </ion-slide>
        </ion-slide-box>
        
        <a class="button button-block button-outline button-dark" href="#/app/categorias">
            REALIZA TU PEDIDO
        </a>
        <a class="button button-block button-outline button-dark" href="#/app/sucursales">
            SUCURSALES
        </a>
        <a class="button button-block button-outline button-dark" href="#/app/eventos">
            REALIZA TU EVENTO
        </a>
    </ion-content>
</ion-view>