<ion-view view-title="Sucursales">
    <ion-nav-title>
        <img style="height:100%;" src="img/logo_header.png">
            </ion-nav-title>
    
    <ion-content>
        <h3 style="margin: 20px;">SUCURSALES</h3>
        <form style="background-color:transparent;color:black; border: 1px solid black; border-radius: 10px; margin: 20px; padding:10px;">
            <h3>PORTHOS CALLE 85</h3>
            <p>cra 53 # 85 - 61 tel:<a href="tel:0353570304">3570304</a></p>
            
        </form>
        <form style="background-color:transparent;color:black; border: 1px solid black; border-radius: 10px; margin: 20px; padding:10px;">
            <h3>PORTHOS CALLE 80</h3>
            <p>calle 80 numero 53 cc washinton tel:<a href="tel:0353565452">3565452</a></p>
        </form>
        <a ng-click="showMapa();" href="#"><img style="margin-left:5%;" src="img/mapa.png" width="90%"/></a>
        
    </ion-content>
</ion-view>